<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container-fluid">
  <%= link_to "Shop", root_path, :class => "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
			    <%= link_to "Home", root_path, class: "nav-link #{'active disabled' if page === 'home'}" %>
        </li>
        <% if logged_in? %>
          <li class="nav-item">
			      <%= link_to "New Item", new_item_path, class: "nav-link #{'active disabled' if page === 'new_item'}" %>
          </li>
        <% end %>
      </ul>
      <ul class='navbar-nav'>
        <% if !logged_in? and page != 'login' %>
          <li class="nav-item mr-3">
           <%= link_to "Login", login_path, class: "nav-link active" %>
          </li>
        <% end %>
        <li class='nav-item'>
          <%= link_to cart_index_url do%>
            <span class="fa-layers fa-fw fa-2x">
              <i class="fas fa-shopping-basket fa-inverse"></i>
              <%
                session[:cart] ||= Hash.new() 
                if session[:cart].size() > 0 
              %>
                <span class="fa-layers-counter fa-lg" style="background:Tomato"><%= 
                  count = 0
                  session[:cart].each_value do |item|
                    count = count + item['quantity']
                  end
                  count
                %></span>
              <% end %>
            </span>
          <% end %>
        </li>
      </ul>
      
    </div>
  </div>
</nav>