<div class='shadow bg-light rounded p-3'>
	<%= link_to image_tag(item[:image], class: 'rounded'), item_path(:id => item[:id]) %> <br>
	<%= link_to item[:name], item_path(:id => item[:id]), class: 'h5 text-dark' %>
	<div class='mb-3'>
		<%= renderStars(item[:rating]) %>
		<span>(<%= item[:reviewCount] %>)</span>
	</div>
	<b class='h4'><%= number_to_currency(item[:price] / 100.0) %></b>
</div>