<div class='shadow bg-light rounded p-3'>
	<%= link_to image_tag("data:image/jpeg;base64,#{item.image}", class: 'rounded', size: '400x400'), item_path(item) %> <br>
	<%= link_to item.name, item_path(:id => item.id), class: 'h5 text-dark' %>
	<div class='mb-3'>
		<%# <%= renderStars(3) %>
		<%# <span>(<%= 4) %>
		<%# </span> %>
	</div>
	<b class='h4'><%= number_to_currency(item.cost / 100.0) %></b>
</div>