<html>
	<header>
		<%= stylesheet_link_tag 'index' %>
	</header>
	<body>
		<%= render 'components/navbar', page: 'pricing' %>

		<div class="d-flex flex-column justify-content-center" id="login-form">
			<%= form_with url: "/login", method: :post do |f| %>
				<div class="mb-3">
					<%= f.label :username, "Username", class: "form-label" %>
					<%= f.text_field :username, class: "form-control" %>
				</div>
				<div class="mb-3">
					<%= f.label :password, "Password", class: "form-label" %>
					<%= f.password_field :password, class: "form-control" %>
				</div>
				<div class="mb-3">
					<%= f.submit "Login", class: "btn btn-primary" %>
				</div>
			<% end %>
			<div class="text-center">
				<%= link_to "Don't have an account? Register!", root_path, class: "text-dark" %>
			</div>
		</div>
	</body>
</html>

